Aquí simplemente obtenemos el conjunto de entrenamiento y test y lo guardamos en archivo Excel.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
file_path_name = "dataset/DATASET.xlsx"
df = pd.read_excel(file_path_name)

In [3]:
df.head()

,fc,elevation,azimuth,year,mmdd,hour,final_latitude,final_longitude,final_elevation,lat_1,...,alt_197,alt_198,alt_199,alt_200,mmdd_modified,day_of_year,mmdd_sin,mmdd_cos,hour_sin,hour_cos
0,10000000,5,98,2010,01-01,0,-41.181310,-31.955583,0.0,-42.28,...,6.376983e+06,6.374959e+06,6.370894e+06,6371000.0,2010-01-01,1,0.017213,0.999852,0.000000e+00,1.0
1,10000000,5,98,2010,01-01,4,-40.639894,-29.116611,0.0,-42.28,...,6.374905e+06,6.373567e+06,6.372264e+06,6371000.0,2010-01-01,1,0.017213,0.999852,8.660254e-01,0.5
2,10000000,5,98,2010,01-01,8,-42.760217,-46.150045,0.0,-42.28,...,6.371952e+06,6.370825e+06,6.371856e+06,6371000.0,2010-01-01,1,0.017213,0.999852,8.660254e-01,-0.5
3,10000000,5,98,2010,01-01,12,-42.773728,-46.442465,0.0,-42.28,...,6.372859e+06,6.372225e+06,6.371600e+06,6371000.0,2010-01-01,1,0.017213,0.999852,1.224647e-16,-1.0
4,10000000,5,98,2010,01-01,16,-42.761570,-46.178233,0.0,-42.28,...,6.372921e+06,6.372272e+06,6.371568e+06,6371000.0,2010-01-01,1,0.017213,0.999852,-8.660254e-01,-0.5

In [ ]:
# observo si no tengo lineas de entradas repetidas.
df_duplicadas = df[df.duplicated(subset=['fc', 'elevation', 'azimuth', 'year', 'mmdd', 'hour'])]
print(df_duplicadas.head())

           fc  elevation  azimuth  year   mmdd  hour  final_latitude  \
939  10000000          5       98  2010  06-06     4      -37.691589
940  10000000          5       98  2010  06-06     8      -41.635203

     final_longitude  final_elevation  lat_1  ...       alt_197       alt_198  \
939       -17.883378     55000.488281 -42.28  ...  6.426166e+06  6.426034e+06
940       -34.729432         0.000000 -42.28  ...  6.373933e+06  6.372933e+06

          alt_199       alt_200  mmdd_modified  day_of_year  mmdd_sin  \
939  6.425979e+06  6.426000e+06     2010-06-06          157     0.425
940  6.371959e+06  6.371000e+06     2010-06-06          157     0.425

     mmdd_cos  hour_sin  hour_cos
939 -0.905193  0.866025       0.5
940 -0.905193  0.866025      -0.5

[2 rows x 615 columns]

In [7]:
x_columns = ['fc', 'elevation', 'azimuth', 'year','mmdd_modified', 'mmdd', 'hour',
                      'day_of_year', 'mmdd_sin', 'mmdd_cos', 'hour_sin', 'hour_cos']
# Quitamos las columnas que no son de interes 
drop_columns = ['final_latitude', 'final_longitude', 'final_elevation']
df = df.drop(columns = drop_columns)

x_df = df[x_columns]
# quitamos las columnas de entrada. 
y_df = df.drop(columns=x_columns)

In [8]:
x_df.head()

,fc,elevation,azimuth,year,mmdd_modified,mmdd,hour,day_of_year,mmdd_sin,mmdd_cos,hour_sin,hour_cos
0,10000000,5,98,2010,2010-01-01,01-01,0,1,0.017213,0.999852,0.000000e+00,1.0
1,10000000,5,98,2010,2010-01-01,01-01,4,1,0.017213,0.999852,8.660254e-01,0.5
2,10000000,5,98,2010,2010-01-01,01-01,8,1,0.017213,0.999852,8.660254e-01,-0.5
3,10000000,5,98,2010,2010-01-01,01-01,12,1,0.017213,0.999852,1.224647e-16,-1.0
4,10000000,5,98,2010,2010-01-01,01-01,16,1,0.017213,0.999852,-8.660254e-01,-0.5

In [9]:
x_train,x_test,y_train,y_test = train_test_split(x_df,y_df,test_size=0.2,random_state=42)

In [10]:
x_train.to_excel("Train_Test/Dataset_Separado/x_train_new.xlsx",index = False)
x_test.to_excel("Train_Test/Dataset_Separado/x_test_new.xlsx",index = False)
y_train.to_excel("Train_Test/Dataset_Separado/y_train_new.xlsx",index = False)
y_test.to_excel("Train_Test/Dataset_Separado/y_test_new.xlsx",index = False)