In [37]:
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import utils_nn as utlnn

## Uso de funciones Personalizadas cont tf.map_fn
Al tener funciones personalizadas, podemos usar tf.map_fn para aplicar a cada elemento del tensor.

In [38]:
x_test = pd.read_csv("./Train_Test/x_test.csv")
y_test = pd.read_csv("./Train_Test/y_test.csv")

autoencoder_Lat_Lon = tf.keras.models.load_model('modelos_entrenamiento/modelos_latitudes_longitudes/entrenamiento_lat_lon_600_120.keras')
autoencoder_Height = tf.keras.models.load_model('modelos_entrenamiento/entrenamiento_alturas2.keras')

In [39]:
lat_pred, lon_pred = autoencoder_Lat_Lon.predict(x_test)
height_pred = autoencoder_Height.predict(x_test)

33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step

In [40]:
y_true_lat = y_test.iloc[:,:100]
y_true_lon = y_test.iloc[:,100:200]
y_true_height = y_test.iloc[:,200:300] #km
print("Formatos True y Pred: ",type(y_true_lat), type(lat_pred))
y_true_lat = y_true_lat.to_numpy()
y_true_lon = y_true_lon.to_numpy()
y_true_height = y_true_height.to_numpy()
print("Formatos True y Pred: ",type(y_true_lat), type(lat_pred))

Formatos True y Pred:  <class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>
Formatos True y Pred:  <class 'numpy.ndarray'> <class 'numpy.ndarray'>

In [41]:
# distancias_2d= list(map(utlnn.distances_by_geodesic,zip(y_true_lat,y_true_lon,lat_pred,lon_pred)))
distancias_2d = list(map(lambda args: utlnn.distances_by_geodesic(*args), zip(y_true_lat, y_true_lon, lat_pred, lon_pred)))

AttributeError: 'numpy.ndarray' object has no attribute 'to_numpy'

In [ ]:
print(type(y_true_lat), type(lat_pred))
y_true_lat.head()

<class 'pandas.core.frame.DataFrame'> <class 'numpy.ndarray'>

,lat_1,lat_2,lat_3,lat_4,lat_5,lat_6,lat_7,lat_8,lat_9,lat_10,...,lat_91,lat_92,lat_93,lat_94,lat_95,lat_96,lat_97,lat_98,lat_99,lat_100
0,-42.28,-42.280740,-42.281479,-42.282218,-42.282958,-42.283697,-42.284285,-42.284833,-42.285381,-42.285929,...,-42.217019,-42.214879,-42.212740,-42.210601,-42.208431,-42.206144,-42.203858,-42.201572,-42.199286,-42.197000
1,-42.28,-42.282720,-42.284985,-42.284978,-42.285874,-42.288579,-42.297927,-42.313917,-42.333036,-42.353721,...,-42.769901,-42.769894,-42.769484,-42.768270,-42.767513,-42.767215,-42.767096,-42.767066,-42.767036,-42.767007
2,-42.28,-42.278190,-42.276380,-42.274569,-42.272759,-42.270940,-42.268950,-42.266960,-42.264971,-42.262981,...,-41.990593,-41.985965,-41.981337,-41.976709,-41.972081,-41.971816,-41.971780,-41.971744,-41.971708,-41.971672
3,-42.28,-42.282670,-42.284986,-42.284978,-42.285674,-42.288329,-42.296150,-42.311844,-42.329972,-42.350273,...,-42.758415,-42.757172,-42.756509,-42.756494,-42.756077,-42.755397,-42.755148,-42.755053,-42.754958,-42.754863
4,-42.28,-42.284483,-42.284976,-42.288429,-42.307402,-42.338016,-42.371590,-42.404114,-42.435583,-42.466004,...,-41.561871,-41.509278,-41.455672,-41.415043,-41.400033,-41.396930,-41.390984,-41.387808,-41.387785,-41.387773

In [ ]:
distancia2d = utlnn.haversine_distance(y_true_lat,y_true_lon,lat_pred,lon_pred)

In [ ]:
y_true_lat.to_numpy()

array([[-42.28000045, -42.28073977, -42.28147908, ..., -42.20157222,
        -42.1992861 , -42.19699999],
       [-42.28000045, -42.28272011, -42.28498524, ..., -42.76706621,
        -42.7670364 , -42.7670066 ],
       [-42.28000045, -42.27819011, -42.27637976, ..., -41.9717438 ,
        -41.97170792, -41.97167205],
       ...,
       [-42.28000045, -42.28463394, -42.28497476, ..., -41.06043416,
        -41.05974866, -41.05906315],
       [-42.28000045, -42.28493612, -42.2849731 , ..., -40.86099884,
        -40.86087714, -40.86075544],
       [-42.28000045, -42.27890403, -42.27812428, ..., -40.33287992,
        -40.33258616, -40.33229004]])